* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue1: #072ac8;
    --blue1_hover: #0b35ed;
    --blue2: #43d2ff;
    --blue3: #a2d6f9;
    --blue4: #d1edff;
    --blue5: #ecf7ff;
    --dark: #292e47;
    --gray1: #6b708d;
    --gray2: #f2f4fc;
    --yellow: #ffc600;
    --white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--gray2);
    line-height: 20px;
    background-color: var(--gray2);
}

h1,
h2,
h3 {
    color: var(--dark);
}
/* ---------------------------------------------------------------- */
/* ---------------------NAV BAR / FIRTS MOBILE--------------------- */
/* ---------------------------------------------------------------- */
header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 20px 30px;
}

.navBar_logo > img {
    width: 60px;
    height: 18px;
    cursor: pointer;
}

.burger {
    display: block;
    cursor: pointer;
}
.burger span {
    display: inherit;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--dark);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.burger.active .bar:nth-child(2) {
    opacity: 0;
}
.burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.navBar {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--gray2);
    z-index: 99;
}

.navBar.active {
    width: 100%;
    height: 40%;
    transition: 0.5s;
}

.navMenu {
    display: block;
    margin: auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
.navBar.active ul {
    opacity: 1;
}
.navMenu_item {
    margin: 30px;
}
.navMenu_item::marker {
    color: var(--gray2);
}

.navMenu_item > a {
    text-decoration: none;
    color: var(--gray1);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22.1px;
}

.navMenu_item a:hover {
    color: var(--blue1_hover);
}
.navMenu_item a:active {
    color: var(--blue1);
}
.contactUs {
    background-color: var(--blue1);
    color: var(--gray2);
    font-size: 1em;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.contactUs:hover {
    background-color: var(--blue1_hover);
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}
.contactUs:active {
    box-shadow: inset -2px 0px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--blue1);
}

/* ------------------------------------------------------------------- */
/* -------------------- HERO SECTION FIRTS MOBILE -------------------- */
/* ------------------------------------------------------------------- */
.heroSection {
    padding: 0 30px;
}
.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0 40px 0;
}

.hero_content h1 {
    font-size: 1.6em;
    color: var(--dark);
    line-height: 130%;
}

.hero_description {
    margin: 30px 0;
    line-height: 160%;
    color: var(--gray1);
    font-weight: 400;
}
.hero_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_buttons-touch {
    background-color: var(--blue1);
    color: var(--gray2);
    font-size: 1em;
    padding: 15px 30px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
}
.hero_buttons-work {
    color: var(--gray1);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s;
}
.hero_buttons-work:hover {
    color: var(--dark);
}
.hero_buttons-work:active {
    color: var(--gray1);
}
.hero_buttons-touch:hover {
    background-color: var(--blue1_hover);
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}
.hero_buttons-touch:active {
    box-shadow: inset -2px 0px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--blue1);
}
.heroMain_img {
    width: 80vw;
}
.heroCard {
    display: none;
}
.heroLike {
    display: none;
}
/* ------------------------------------------------------------------- */
/* ----------------COMPANY LOGOS SECTION FIRTS MOBILE ---------------- */
/* ------------------------------------------------------------------- */
.logosSection {
    padding: 0 30px;
    margin: 50px 0;
}
.logosGrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    column-gap: calc(100% - 60vw);
    row-gap: 60px;
    justify-content: center;
}
.logosGrid > div > img {
    width: 90px;
}
.amazon {
    display: none;
}
/* --------------------------------------------------------------------- */
/* ---------------- RECENT PROJECTS SECTION FIRTS MOBILE --------------- */
/* --------------------------------------------------------------------- */
.projectSection {
    margin: 100px 0 100px 0;
    padding: 0 30px;
}

.projectSection h2 {
    text-align: center;
    margin: 40px 0;
}

.projectsArticles {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    column-gap: 40px;
    row-gap: 16px;
    text-align: left;
}

.projectsArticle {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.projectImg {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.project_text {
    padding: 40px 20px;
    color: var(--gray1);
    margin-left: 20px;
}
.project_text::first-letter {
    text-transform: capitalize;
}
.project_text h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}
.text {
    margin: 20px 10px 30px 0;
}
.dataBody {
    /* just to compact the limit of lines to show in the card the rest ara hidden */
    line-height: 22px;
    height: 100px;
    overflow: hidden;
    background: -webkit-linear-gradient(var(--dark), var(--gray1), #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text::first-letter {
    text-transform: capitalize;
}
.learnMore {
    text-decoration: none;
    color: var(--blue1);
    margin: 100px 0;
}
.learnMore:hover {
    color: var(--blue1_hover);
}
.learnMore:active {
    color: var(--blue1);
}
/* ------------------------------------------------------------------- */
/* ------------------- OPINIONS SECTION FIRTS MOBILE ----------------- */
/* ------------------------------------------------------------------- */
.emoji1,
.emoji2,
.emoji3,
.emoji4 {
    display: none;
}
.opinionsContainer {
    margin-bottom: 100px;
}
.opinions {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
}
.opinions_h2 {
    color: var(--gray2);
    font-size: 1.3em;
    line-height: 1.5em;
}
.opinions_text {
    color: var(--yellow);
    max-width: 70vw;
    margin: 60px auto;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
}
.opinions_client {
    display: flex;
    align-items: center;
}
.opinions_client-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 15px;
}
.clientName {
    color: var(--blue3);
}
.clientCompany {
    color: var(--gray2);
    font-size: 0.8em;
}
.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* --------------------------------------------------------------------- */
/* ------------------- OUR SERVICES SECTION FIRTS MOBILE --------------- */
/* --------------------------------------------------------------------- */
.icon_interface {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: var(--blue5);
    background-image: url(../assets/services-section/icons/1.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.icon_experience {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: var(--blue5);
    background-image: url(../assets/services-section/icons/2.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.icon_develop {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: var(--blue5);
    background-image: url(../assets/services-section/icons/3.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
/* -------------------------------------------------------------------- */
/* ------------------- QUESTIONS SECTION FIRTS MOBILE ----------------- */
/* -------------------------------------------------------------------- */
.questions {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
}
.questions_h1 {
    color: var(--dark);
    margin-bottom: 20px;
    font-size: 1.6em;
    line-height: 1.5em;
}

.questions > p {
    color: var(--gray1);
    font-size: 1em;
    line-height: 20px;
}
.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.containerEmail {
    position: relative;
}

.emailIcon {
    position: absolute;
    left: 4%;
    top: 32%;
    right: auto;
    bottom: auto;
    width: 20px;
    height: 20px;
}

.inputEmail {
    height: 60px;
    width: 80vw;
    padding: 15px 0px 15px 40px;
    line-height: 1.5;
    color: var(--dark);
    background-color: #ffffff;
    border: none;
}

.inputEmail:focus {
    outline: none !important;
    box-shadow: 0 0 5px var(--gray1);
}

.buttonSubmit {
    cursor: pointer;
    height: 60px;
    margin-top: 20px;
    background-color: var(--blue1);
    color: #ffffff;
    padding: 10px 3px;
    font-weight: 500;
    font-size: 1em;
    border: none;
}
.buttonSubmit:hover {
    background-color: var(--blue1_hover);
    -webkit-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    transition: background-color 250ms;
}
.buttonSubmit:active {
    box-shadow: inset -2px 0px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--blue1);
}
/* ------------------------------------------------------------------- */
/* ------------------- FOOTER SECTION FIRTS MOBILE ------------------- */
/* ------------------------------------------------------------------- */
.footSection {
    margin-top: 60px;
    padding: 0 30px 100px 30px;
}
.footContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footContent > img {
    width: 6.25rem;
    margin-bottom: 30px;
}
.footContent > address {
    color: var(--gray1);
    line-height: 24px;
    margin-bottom: 30px;
}
.footLinks {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 46px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
}
.footLinks > a {
    text-decoration: none;
    color: var(--gray1);
}

.footLinks a:hover {
    color: var(--blue1_hover);
}

.footLinks a:active {
    color: var(--blue1);
}
/* ---------------------------------------------------------- */
/* -----------------------MEDIA QUERIES --------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 374px) {
    .opinions_h2 {
        width: 70vw;
    }
    .opinions_text {
        max-width: 60vw;
    }
    .project_text h3 {
        line-height: 1.3em;
    }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media (min-width: 412px) {
    .opinions_h2 {
        width: 60vw;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media (min-width: 600px) {
    .hero_content > h1 {
        width: 50vw;
    }

    .hero_buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .hero_buttons-touch {
        margin-bottom: 0;
    }
    .opinions_text {
        max-width: 30vw;
    }
    .inputEmail {
        padding-left: 50px;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media (min-width: 768px) {
    .hero_content > h1 {
        font-size: 2.5em;
        width: 70vw;
    }

    .hero_img {
        position: relative;
        margin-bottom: 100px;
        max-width: 70vw;
    }

    .heroMain_img {
        width: 550px;
    }

    .heroCard {
        width: 254px;
        display: block;
        position: absolute;
        left: -80px;
        right: auto;
        bottom: auto;
    }
    .heroLike {
        width: 254px;
        display: block;
        position: absolute;
        bottom: -100px;
        right: -100px;
    }
    .opinions_text {
        max-width: 100vw;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 1024px) {
    header {
        max-width: 1100px;
    }

    .burger {
        display: none;
    }

    .contactUs {
        display: block;
        transition: all 0.5s;
    }

    .navBar {
        position: static;
        height: auto;
        margin-left: 100px;
    }

    .navMenu {
        display: flex;
        gap: 60px;
        opacity: 1;
        transition: 2s;
    }
    .navMenu_item {
        margin: auto;
    }

    .heroSection {
        max-width: 1100px;
        margin: auto;
    }
    .heroContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-left: 50px;
    }

    .hero_content h1,
    .hero_description {
        width: 39vw;
    }

    .hero_buttons {
        align-self: flex-start;
    }

    .hero_img {
        position: absolute;
        top: 1px;
        right: 100px;
        max-width: 61vw;
    }
    .heroMain_img {
        width: 350px;
    }
    .heroCard {
        width: 200px;
    }
    .heroLike {
        width: 200px;
        bottom: -60px;
    }

    .logosGrid {
        grid-template-columns: auto auto auto auto auto;
        column-gap: 80px;
        margin-top: 100px;
        align-items: center;
    }
    .amazon {
        display: block;
    }

    .projectSection {
        max-width: 1100px;
        margin: 150px auto;
    }

    .projectSection h2 {
        text-align: start;
        font-size: 1.9em;
    }

    .projectsArticles {
        grid-template-columns: auto auto auto;
        margin: 50px 0;
    }
    .projectsArticle {
        max-width: 300px;
    }
    .projectImg {
        width: 100%;
        height: 200px;
    }
    .opinionsContainer {
        position: relative;
    }
    .opinions_h2 {
        font-size: 1.9em;
    }

    .emoji1 {
        display: block;
        position: absolute;
        left: 5%;
        top: 10%;
        width: 100px;
        height: 100px;
    }
    .emoji2 {
        display: block;
        position: absolute;
        left: 5%;
        bottom: 10%;
        width: 100px;
        height: 100px;
    }
    .emoji3 {
        display: block;
        position: absolute;
        right: 5%;
        top: 10%;
        width: 100px;
        height: 100px;
    }
    .emoji4 {
        display: block;
        position: absolute;
        right: 5%;
        bottom: 10%;
        width: 100px;
        height: 100px;
    }
    .questions_h1 {
        font-size: 2em;
    }
    .formContent {
        display: flex;
        flex-direction: row;
    }

    .inputEmail {
        width: 50vw;
    }

    .buttonSubmit {
        margin: 0;
        margin-left: 20px;
        padding: 0 50px;
    }

    .footContainer {
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
    }
    .footContent > address {
        margin: 0;
        width: 250px;
    }
    .footLinks {
        margin: 0;
    }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 1360px) {
    .hero_content {
        margin-left: 0px;
        margin-top: 80px;
    }
    .hero_content > h1 {
        font-size: 3.5em;
    }
    .hero_description {
        font-size: 1.3em;
    }
    .hero_img {
        right: 0px;
    }
    .heroMain_img {
        width: 500px;
    }
    .heroCard {
        width: 300px;
    }

    .heroLike {
        width: 300px;
        bottom: -130px;
    }
    .logosSection {
        max-width: 1100px;
        margin: auto;
    }
    .logosGrid {
        justify-content: space-between;
        margin: 150px 0;
    }
    .logosGrid > div > img {
        width: 130px;
    }

    .projectsArticles {
        justify-content: space-between;
    }

    .opinionsContainer {
        max-width: 1300px;
        margin: 150px auto;
    }

    .opinions {
        height: 622px;
        justify-content: space-around;
    }
    .opinions_h2 {
        font-size: 2.5em;
    }
    .opinions_text {
        font-size: 1.5em;
    }

    .emoji1,
    .emoji2,
    .emoji3,
    .emoji4 {
        width: 150px;
        height: 150px;
    }
    .questionsContainer {
        max-width: 1300px;
        margin: 150px auto;
    }
    .questions {
        height: 500px;
    }
    .questions > p {
        font-size: 1.25em;
    }
    .questions_h1 {
        font-size: 2.5em;
    }

    .inputEmail {
        width: 35vw;
    }

    .emailIcon {
        width: 30px;
        left: 3%;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 1536px) {
    .hero_content h1,
    .hero_description {
        width: 35vw;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 1800px) {
    .hero_content h1,
    .hero_description {
        width: 30vw;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 1920px) {
    .hero_content h1,
    .hero_description {
        width: 25vw;
    }
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 2400px) {
    .hero_content h1,
    .hero_description {
        width: 20vw;
    }
}
