* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue1: #072ac8;
    --blue1_hover: #0b35ed;
    --blue2: #43d2ff;
    --blue3: #a2d6f9;
    --blue4: #d1edff;
    --blue5: #ecf7ff;
    --dark: #292e47;
    --gray1: #6b708d;
    --gray2: #f2f4fc;
    --yellow: #ffc600;
    --white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--gray2);
    line-height: 20px;
    background-color: var(--gray2);
}

h1,
h2,
h3 {
    color: var(--dark);
}
.projectPageSection {
    margin: 80px auto 140px;
}
.projectPage {
    padding: 0 30px;
}
.projectPage > h1 {
    color: var(--dark);
    font-size: 2.5em;
    line-height: 68px;
    margin-top: 20px;
}

.projectPage_type {
    margin: 20px 0 50px;
    display: flex;
    flex-direction: column;
}
.projectPage_type > h3 {
    font-size: 1.25em;
    margin-bottom: 20px;
    line-height: 26px;
    color: var(--gray1);
}

.projectPage_type > div {
    color: var(--dark);
    font-size: 1em;
}
.projectDate {
    color: var(--gray1);
}
.image_wrapper {
    position: relative;
}
.projectPage_img {
    width: 100%;
    object-fit: cover;
}
.projectPage_imgShadow {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
    width: 100%;
    opacity: 0.4;
    filter: saturate(200%) blur(25px);
}
.project_textDescription {
    color: var(--gray1);
    font-size: 1em;
    line-height: 26px;
    text-align: left;
    margin: 40px 0 20px;
    padding: 0;
}
/* ---------------------------------------------------------- */
/* -----------------------MEDIA QUERIES --------------------- */
/* ---------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .projectPage_type {
        flex-direction: row;
        justify-content: space-between;
    }
    .projectPage_img {
        height: 400px;
    }
    .projectPage_imgShadow {
        height: 400px;
    }
}
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
@media only screen and (min-width: 1366px) {
    .projectPageSection {
        max-width: 1100px;
    }
}
